[Unit]
Description= Gunicorn instance to serve Uber backend App
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/Devops-MidTerm/uberbusbackend
ExecStart=/home/ubuntu/.local/bin/gunicorn --workers 3 -b 0.0.0.0:5000 -t 600 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target